<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "de.express.glueckauf"
		versionCode="102"
        version   = "1.0.2">
    <name>WG Glückauf</name>

    <description>
        Die Wg Glückauf eG ist Ihr Partner für gutes, sicheres und preiswertes Wohnen in Sondershausen.
Mit dieser App haben Sie Zugriff auf Kontakte, Services, Ansprechpartner und weitere Informationen unserer Genossenschaft.
    </description>

    <author href="http://www.wa-express.de" email="kontakt@wa-express.de">
        Weimann/Schmidt GbR
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />

    <preference name="phonegap-version" value="4.1.1" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
    
    <icon src="icons/57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icons/72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="icons/114.png"         gap:platform="ios"        width="114" height="114" />
	<icon src="icons/144.png"         gap:platform="ios"        width="144" height="144" />
	
	<gap:splash src="icons/320_480.png" width="320" height="480" />
	<gap:splash src="icons/640_960.png" width="640" height="960" />
	<gap:splash src="icons/640_1136.png" width="640" height="1136" />
	
	<gap:splash src="icons/ldpi.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="icons/mdpi.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="icons/hdpi.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<access origin="*" browserOnly="true"/>
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
	<gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false"> 
<array> 
<string>Allow GPS</string> 
</array> 
</gap:config-file> 
</widget>